:root {
    --main-bg-color: #e44344;
    --light-color: #f55c5c;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f0faff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  padding-left: 200px;
  background: var(--main-bg-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}

.nav .logo img{
    height: 100;
    width: 100px;
    padding: 0%;
}

.nav .nav-links {
  column-gap: 50px;
  list-style: none;
}

.nav .nav-links a:hover{
  border-bottom: 2px solid white;
  color: rgb(250, 245, 245);
}

.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 420px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

.hide-dd {
  display: none;
}


/* responsive */
@media screen and (max-width: 1560px) {
  .nav {
    padding: 15px;
    padding-left: 80px;
    padding-right: 15px;
  }
  .nav .search-box {
    right: 400px;
  }
  .nav .nav-links {
    column-gap: 40px;
    list-style: none;
  }
}
@media screen and (max-width: 1360px) {
  .nav {
    padding: 15px;
    padding-left: 80px;
    padding-right: 15px;
  }
  .nav .search-box {
    right: 350px;
  }
  .nav .nav-links {
    column-gap: 30px;
    list-style: none;
  }
}
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px;
    padding-left: 100px;
    padding-right: 15px;
  }
  .nav .search-box {
    right: 250px;
    max-width: 500px;
  }
  .nav .nav-links {
    column-gap: 20px;
    list-style: none;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 20px;
  }
  .nav .search-box {
    right: 200px;
    max-width: 400px;
  }
  .nav .nav-links {
    column-gap: 10px;
    list-style: none;
  }
}
@media screen and (max-width: 1050px) {
  .nav {
    padding: 15px;
    padding-left: 50px;
    padding-right: 10px;
  }
  .nav .search-box {
    right: 230px;
    max-width: 350px;
  }
  .nav .nav-links {
    column-gap: 10px;
    list-style: none;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }

  .navOpenBtn img{
    width: 35px;
    height: 35px;
    margin-top: 2px;
    color: white;
  }

  .navCloseBtn img{
    width: 35px;
    height: 35px;
    margin-top: 2px;
    color: white;
  }


  .nav {
    padding: 15px 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: var(--light-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  
}

@media screen and (max-width: 568px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }

  .navOpenBtn img{
    width: 25px;
    height: 30px;
    margin-top: 2px;
    color: white;
  }

  .navCloseBtn img{
    width: 25px;
    height: 30px;
    margin-top: 2px;
    color: white;
  }


  .nav {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: var(--light-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .profile-icon{
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
}

.profile-icon{
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 0;
}



.signup-in {
  position: absolute;
  right: 0;
  top: 55px;
  background-color: white;
  border: 1px solid #e44344;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  right: 5px;
}

.signup-in h4, p{
  margin-bottom: 5px;
}

.signup-in .btn{
  padding: 5px;
  border: 1px solid #f55c5c;
  border-radius: 5px;
  width: 100%;
  background-color: #fc7474;
  color: white;
  cursor: pointer;
}

.signup-in .btn:hover{
  background-color: #fdfdfd;
  color: #e44344;
}


.profile-container:hover .signup-in,
.profile-container .signup-in {
  display: block;
}




/* Dropdown Styles */
.navbar-dropdown {
  position: relative;
}

.navbar-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 111;
  transition: 0.4s all;
  transform: translateY(50px);
  padding: 20px 0;
  font-size: 12px;
}

.dropdown a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  transition: padding 0.3s ease, background-color 0.3s ease;
}

.dropdown a:hover {
  background-color: #f55c5c;
  padding-left: 30px;
}

.cart {
  position: relative; /* Ensure positioning context for absolute positioning of badge */
  left: -10px;
}

.cart .navbar-right {
  list-style-type: none; /* Remove default list styling */
  margin: 0;
  padding: 0;
}

.cart .navbar-right li {
  display: inline-block; /* Display list items horizontally */
  margin-left: 10px; /* Adjust spacing between items */
  font-size: 25px;
}

.cart .navbar-right li a {
  text-decoration: none; /* Remove underline from links */
  color: white; /* Text color */
  padding: 10px; /* Add padding to improve clickability */
  position: relative; /* Enable positioning for badge */
}

.cart .navbar-right li a:hover{
  color: #fc8484;
}

.cart .navbar-right li a #cart {
  position: relative;
}


@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/* .container {
  margin: auto;
  width: 80%;
} */

.badge {
  background-color: #e44344;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font: 15px;
}

.shopping-cart {
  position: absolute;
  right: 0;
  top: 55px;
  background-color: white;
  border: 1px solid #e44344;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  right: 5px;
  width: 320px;

}

.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}

.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
  color: #e44344;
  margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
  color: black;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 100%;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #e44344;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}

.button:hover {
  background: #fff;
  border: 2px solid #e44344;
  border-radius: 5px;
  color: #e44344;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
